
body{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 40%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    background-color:yellow;
    box-shadow: 2px 4px 5px 6px rgba(178, 63, 178, 0.451);
    gap: 30px;
    padding: 100px;
}

button{
    border: none;
    box-shadow: 1px 1px 3px 2px;
    padding:10px 35px;
    border-radius: 20px;
    background-color: red;
    
}
#btn{
    display: flex;
    gap: 30px;
}